.modal {
    .modal-body {
        /* This is needed to display the text within the modal window as the help button is placed in
         * in a span with the class text-nowrap. */
        white-space: normal !important; /* stylelint-disable declaration-no-important */
        & > .loading-icon {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;

            .icon {
                position: absolute;
                top: 50%;
                /*rtl:ignore*/
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
